---
- name: Create application user
  user:
    name: "{{ app_user }}"
    system: yes
    shell: /bin/bash

  
- name: Install Node.js and npm
  apt:
    name:
      - nodejs
      - npm
    state: present
    update_cache: yes

- name: Create application directory
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: '0755'

- name: Clone application repository
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_dir }}"
    force: yes
  become_user: "{{ app_user }}"

- name: Install npm dependencies
  npm:
    path: "{{ app_dir }}"
    production: yes
  become_user: "{{ app_user }}"


- name: Deploy systemd service
  template:
    src: nodeapp.service.j2
    dest: /etc/systemd/system/nodeapp.service
  notify:
    - Reload systemd
    - Restart nodeapp